<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <h1><b>Welcome to Rapid Clean Newsletter!</b></h1>
     <p>Thanks for your interest in subscribing to our newsletter! It looks like you're already on our mailing list.</p>
     <p>We appreciate your enthusiasm, and we want to assure you that you'll continue to receive our latest news, tips,
          and exclusive offers.
          If you're not receiving our emails, please check your spam/junk folder or add our email address to your
          contact list to ensure you don't miss out.</p> <br>

     <p>If you have any questions or need further assistance, feel free to contact our support team at
          kachieosuji11@gmail.com.</p>
     <p>Thank you for being part of our family!</p><br><br>

     <p><b>Best,<b><br>
                    <b>Rapid Clean Team<b></p>
</body>

</html>