<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <h1><b>Hello {{firstName}} 👋,</b></h1>
     <p>Need a new Password?</p>
     <p>No worries. Use the code below to reset your SaveDrive account password</p>
     <a href='{{otp}}'
          style='display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px;'>Reset
          Your Password</a>
     <p>This code will remain valid for 10 minutes. If you did not request this change, ignore this email and get back
          to your already amazing day 😇.</p> <br><br>
     <a><b>Plot 255 Hassan T. Sanni Str. CBN Choos Estate, Apo Wumba</b></a>
</body>

</html>